<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cantinho do Voluntário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column nosso_logo    ">
            <a href="index.html">
            <img alt="" src="img/cantinho.png" class="logo_cantinho">
            </a>
        </div>
		<div class="col-md-6 column">
			<h3 id="logo">
				Cantinho do Voluntário
			</h3>
		</div>
		<div class="col-md-4 column">
			<div class="login">
				<a href="" >
					Faça Login ou
				</a> 
				<button type="button" class="btn btn-primary btn-sm">Cadastre-se</button>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<!-- [INI]Menu[/INI] -->
		<div class="col-md-12 column">
			<div id="mapa">
			   <a href="cadastro_entidade.html">Instituições</a>
			   <a href="index.html">Página Inicial</a>
			   <a href="ver_vagas.html">Vagas</a>
			   <a href="instituicoes.html">Instituições Registradas</a>
			   <a href="sobre.html">Sobre</a>			   
			   <a href="termos.html">Termos e Condições</a>
			</div>	
		</div>
		<!-- [FIM]Menu[/FIM] -->
	</div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img src="img/globo.jpg" class="imagem_instituicao" alt="" />
        </div>
    </div>
    <div class="row clearfix">
		<!-- [INI]BreadCrump[/INI] -->
		<div class="col-md-12 column">
			<div id="breadcrump">
			   <a href="index.html">Home ></a>
			   <a href="ver_vagas.html">Instituições Cadastradas</a>
			</div>	
		</div>
		<!-- [FIM]BreadCrump[/FIM] -->
	</div>
        
	<!-- [INI]Vagas[/INI] -->
    
    <div class="row clearfix">
         <div class="col-md-12 column">
            <div class="col-md-2 column">
                <div class="col_logo_instituicao">
                      Logo
                </div>
            </div>
            <div class="col-md-2 column">
                <div class="col_oportunidades">
                     Oportunidades
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="col_instituicoes">
                       Instituição
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="col_local_instituicao">
                     Local
                </div>
            </div>
        </div>
    </div>    
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">
                 <a href="http://www.doutoresdaalegria.org.br/"><img src="img/doutores-da-alegria-logo-novo.jpg" class="logo_instituicoes" alt="doutores da alegria" /></a>
            </div>
            <div class="col-md-2 column">
                        <h3>05</h3>
            </div>
            <div class="col-md-4 column">
                        <h3>Viva e Deixe Viver</h3>
            </div>
            <div class="col-md-4 column">
                <div class="">
                    <h3>Hospital de Clinicas Porto Alegre / RS</h3>
                    <a href="saiba_mais_vaga.html"><button type="button" class="btn btn-primary btn-sm" style="float: right">Saiba mais</button></a>
                </div>
            </div>
        </div>
     </div>
     <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">
                 <a href="http://www.vivaedeixeviver.org.br/"><img  src="img/imagem-Viva-e-Deixe-Viver.jpg" 
                    class="logo_instituicoes" ></a>
            </div>
            <div class="col-md-2 column">
                        <h3>05</h3>
            </div>
            <div class="col-md-4 column">
                        <h3>Viva e Deixe Viver</h3>
            </div>
            <div class="col-md-4 column">
                <div class="">
                    <h3> email: portoalegre@vivaedeixeviver.org.br </h3>
                    <a href="saiba_mais_vaga.html"><button type="button" class="btn btn-primary btn-sm" style="float: right">Saiba mais</button></a>
                </div>
            </div>
        </div>
     </div>
    <!-- [FIM]Vagas[/FIM] -->
        
        <!-- [INI]Paginação[/INI] -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="paginacao">
                   < 1, 2, 3, 4, 5 .... 12 >
                </div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.9380271970354!2d-51.20673065!3d-30.03863575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951978495072ab99%3A0x1cbc0b6d6799fecd!2sHospital+de+Cl%C3%ADnicas+de+Porto+Alegre!5e0!3m2!1spt-BR!2sbr!4v1433427648969" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        <!-- [FIM]Paginação[/FIM] -->
        
	<!-- [INI]Rodapé[/INI] -->
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div id="rodape">
                <div class="rodape_links">
                    <a href="cadastro_entidade.html">Instituições</a>
                        <a href="index.html">Página Inicial</a>
                        <a href="testemunhos.html">Testemunhos</a>
                        <a href="instituicoes.html">Instituições Registradas</a>                                       
                        <a href="campanhas_noticias.html">Noticias/Campanhas</a>
                        <a href="informa_cursos.html">Cursos</a>
                        <a href="sobre.html">Sobre</a>
                        <a href="contatos.html">Contatos</a>
                </div>
                <div>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                         <strong>Nossa Página no Face </strong>
                    </a>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                          <img src="img/Facebook_creatures.png" alt="Facebook" 
                                  style="max-width: 80px"/>
                    </a>           
                </div>
                <h10 id="rodape_logo">
                Cantinho do Voluntario@2015
                </h10>
            </div>  
        </div>
    </div>
	<!-- [FIM]Rodapé[/FIM] -->
</div>
</body>
</html>
