<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cantinho do Voluntário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column nosso_logo">
			<a href="index.html">
				<img alt="" src="img/cantinho.png" class="logo_cantinho">
			</a>
		</div>
		<div class="col-md-6 column">
			<h3 id="logo">
				Cantinho do Voluntário
			</h3>
		</div>
		<div class="col-md-4 column">
			<div class="login">
				<a href="" >
					Faça Login ou
				</a> 
				<button type="button" class="btn btn-primary btn-sm">Cadastre-se</button>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<!-- [INI]Menu[/INI] -->
		<div class="col-md-12 column">
			<div id="mapa">
			   <a href="cadastro_entidade.html">Instituições</a>
			   <a href="ver_vagas.html">Vagas</a>    
			   <a href="testemunhos.html">Testemunhos</a>
			   <a href="instituicoes.html">Instituições Registradas</a>
			   <a href="sobre.html">Sobre</a>			   
			   <a href="termos.html">Termos e Condições</a>
			</div>	
		</div>
		<!-- [FIM]Menu[/FIM] -->
	</div>
    
        <!-- [INI]Imagem instituição[/INI] -->
        <div class="col-md-12 column  mapa2" >  
            <div class="row clearfix">
                <div class="col-md-4 column">        	
                    <div>
                        <div class="mapa3">
                            <div>
                                <h2>       	  
                                 <strong>Padrinho Virtual, amigo Leal</strong>	
                                </h2> 
                            </div>                              
                        </div>    
                    </div>        	
                </div>
                <div class="col-md-4 column " >        	
                        <div>
                        </div>        	
                </div>
                <div class="col-md-4 column " >        	
                    <div class="mapa3">
                        <div>
                                <h2> Sabe aquela velha história de morrer de pena dos animais abandonados? 
                                </h2>
                        </div>                              
                    </div>          	
                </div>
            </div>
        </div>
        <!-- [FIM]Imagem instituição[/FIM] -->
    <div class="row clearfix">
        <!-- [INI]BreadCrump[/INI] -->
        <div class="col-md-12 column">
            <div id="breadcrump">
               <a href="index.html">Home ></a>
               <a href="campanhas_noticias.html">Campanhas & Noticias ></a>
                           <a href="#">Saiba Mais</a>
            </div>  
        </div>
        <!-- [FIM]BreadCrump[/FIM] -->
    </div>
	<!-- [INI]Vaga[/INI] -->
     <div class="row clearfix ">   
	    <div class="col-md-12 column">    	      
        	<div class="col-md-8">                    
        	    <div id="titulo_campanha">Padrinho Virtual, Amigo Leal
                </div>                                        	
                <br />
          	    <p class="article-paragrafo ">
            	            Sabe aquela velha história de morrer de pena dos animais abandonados? 

							Na verdade, quem sente pena não morre, mas aquele animal que é alvo da pena, pode morrer sim! Morre aguardando uma ação, uma pequena ajuda. Com a Campanha Padrinhos Virtuais você pode mudar essa fala já tão batida e a situação de abandono de muitos animais.
				<br />						
							A campanha consiste em buscar padrinhos para os animais carentes que estão internados em clínicas ou hospedagens, aguardando adoção ou recuperando-se de doenças, traumatismos ou maus- tratos. Atualmente, o alto custo de manutenção com diárias de hospedagem e saúde, limita nossa ajuda para apenas alguns animais, quando sabemos que tantos outros também esperam por essa oportunidade.

							Se você quer ajudar, mas não pode adotar ou abrigar um desses animais, seja um Padrinho Virtual. Quanto mais padrinhos tivermos, mais animais poderão ser atendidos e encaminhados para novos lares. Ser um Padrinho Virtual é muito simples: escolha um afilhado e preencha o formulário de adesão à campanha. O valor e a freqüência das contribuições ficarão a seu critério.
				<br />
							O Projeto Bicho de Rua informa periodicamente sobre a situação dos animais e das contribuições recebidas. Também organiza encontros em que os padrinhos podem conhecer e interagir com seus afilhados. Quando um deles é adotado, os padrinhos são convidados a eleger outro afilhado para ajudar.
							Se você quiser mais informações entre em contato com a instituição bichos de rua, ou divulgue esta ideia na sua rede de amigos.
            	</p>  
         	</div>
        	<div class="col-md-1" style="font-weight: bold;">
                <strong>Divulgue </strong>
                <img class="img-responsive" src="img/Facebook_creatures.png" alt="Facebook" 
                            style="width: 5em"/>
            </div>
       		<div class="col-md-3">
           		<div class="col_info_instituicao">
                    <a href="http://www.bichoderua.org.br"><img class="img-responsive" src="img/bichoderua.jpg" style="margin-right:10%; max-width:15.250em;" alt="Logo Instituição" /></a>
                    <div >
                        <img class="clas_star" src="img/star_yellow.png"  alt="">
                        <img class="clas_star" src="img/star_yellow.png"  alt=""> 
                        <img class="clas_star" src="img/star_yellow.png"  alt=""> 
                        <img class="clas_star" src="img/star_yellow.png"  alt=""> 
                        <img class="clas_star" src="img/star_yellow.png"  alt=""> 
                    </div>
                </div>
       		</div>
  		</div>
     </div>
        
	<!-- [FIM]noticia[/FIM] -->
	
    <div class="col-md-12 column ">
        <div class="row clearfix">    
            <div class="col-md-2 column ">
            </div> 
            <div class="col-md-6 column ">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/wqM8uJgE25I" frameborder="0" allowfullscreen></iframe>
                </div> 
            </div>
            <div class="col-md-4 column ">
            </div> 
        </div> 
    </div> 
     <!--[FIM]noticia[/FIM] -->
    <div class="col-md-12 column col_cursos">
        <div class="row clearfix ">
             <div id="lista_cursos">
                <div class="col-md-4 column "> 
                    <a href="saiba_mais_campanha">           
                       <img class="img-responsive"  src="img/agasalho1.jpg" class="foto-campanha" alt="">
                    </a> 
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha">
                              Campanha do agasalho 2015 - Aqueça um coração   
                        </a>             
                    </div>      
                    <p class="article-paragraph ">
                        Iniciou hoje a Campanha do Agasalho 2015 que se encerrará em 19 de junho de 2015. Os agasalhos arrecadados serão doados a uma instituição de assistência social na Guarnição de Porto Alegre-RS.<b></b> Quem quiser fazer a doação é só entregar na portaria da 8ª CSM no Centro Histórico 
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha">Saiba mais »</a>
                    </span>
                </div>
                <div class="col-md-4 column ">
                    <a href="saiba_mais_campanha1">
                    <img class="img-responsive"  src="img/campanha-do-agasalho-para-animais.jpg" class="foto-campanha" alt="">
                    </a>
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha1.html">
                            Campanha do agasalho para animais   
                        </a>                 
                    </div>      
                    <p class="article-paragraph ">
                        A USPA, presidida por Álvaro Pacheco, está realizando a campanha do agasalho para a doação aos animais (cães e gatos). As doações podem ser feitas na feirinha que acontece aos finais de semana no Shopping Center Salto.
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha1.html">Saiba mais »</a>
                    </span>
                </div>
                <div class="col-md-4 column "  >
                    <a href="saiba_mais_campanha1.html">
                      <img class="img-responsive"  src="img/criancasorrindo.jpg" class="foto-campanha" alt="">
                    </a>
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha1.html">
                          O seu sorriso pode mudar o dia de alguém  
                        </a>                     
                    </div>      
                    <p class="article-paragraph ">
                        Oferecer um sorriso torna feliz o coração. Enriquece quem o recebe sem empobrecer quem o doa, dura somente um instante, mas sua lembrança permanece por longo tempo. Ninguém é tão rico a ponto de dispensá-lo, nem tão pobre que não possa doá-lo.             
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha1.html">Saiba mais »</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 column col_cursos">
        <div id="lista_cursos">
            <div class="row clearfix">
                <div class="col-md-4 column ">   
                   <a href="saiba_mais_campanha.html">         
                       <img class="img-responsive"  src="img/agasalho1.jpg" class="foto-campanha" alt="">
                    </a> 
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha.html">
                        Campanha do agasalho 2015 - Aqueça um coração   
                        </a>             
                    </div>      
                    <p class="article-paragraph ">
                        Iniciou hoje a Campanha do Agasalho 2015 que se encerrará em 19 de junho de 2015. Os agasalhos arrecadados serão doados a uma instituição de assistência social na Guarnição de Porto Alegre-RS.<b></b> Quem quiser fazer a doação é só entregar na portaria da 8ª CSM no Centro Histórico 
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha.html">Saiba mais »</a>
                    </span>
                </div>
                <div class="col-md-4 column ">
                    <a href="saiba_mais_campanha.html"> 
                      <img class="img-responsive"  src="img/campanha-do-agasalho-para-animais.jpg" class="foto-campanha" alt="">
                    </a>
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha.html">
                        Campanha do agasalho para animais   
                        </a>                 
                    </div>      
                    <p class="article-paragraph ">
                        A USPA, presidida por Álvaro Pacheco, está realizando a campanha do agasalho para a doação aos animais (cães e gatos). As doações podem ser feitas na feirinha que acontece aos finais de semana no Shopping Center Salto.
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha.html">Saiba mais »</a>
                    </span>
                </div>
                <div class="col-md-4 column "  >
                    <a href="saiba_mais_campanha.html"> 
                     <img class="img-responsive"  src="img/criancasorrindo.jpg" class="foto-campanha" alt="">
                    </a>
                    <div class="titulo_curso">  
                        <a href="saiba_mais_campanha.html">
                        O seu sorriso pode mudar o dia de alguém  
                        </a>                     
                    </div>      
                    <p class="article-paragraph ">
                        Oferecer um sorriso torna feliz o coração. Enriquece quem o recebe sem empobrecer quem o doa, dura somente um instante, mas sua lembrança permanece por longo tempo. Ninguém é tão rico a ponto de dispensá-lo, nem tão pobre que não possa doá-lo.             
                    </p>
                    <span>
                        <a class="btn saiba_mais" href="saiba_mais_campanha.html">Saiba mais »</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
	<!-- [INI]Rodapé[/INI] -->
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div id="rodape">
                <div class="rodape_links">
                    <a href="cadastro_entidade.html">Instituições</a>
                    <a href="ver_vagas.html">Vagas</a>
                    <a href="testemunhos.html">Testemunhos</a>
                    <a href="informa_cursos.html">Cursos</a>
                    <a href="campanhas_noticias.html">Noticias/Campanhas</a>                    
                    <a href="sobre.html">Sobre</a>
                    <a href="contatos.html">Contatos</a> 
                    <a href="instituicoes.html">Instituições Registradas</a>
                </div>
                <div>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                         <strong>Nossa Página no Face </strong>
                    </a>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                          <img class="img-responsive" src="img/Facebook_creatures.png" alt="Facebook" 
                                  style="max-width:5em;"/>
                    </a>           
                </div>
                <h10 id="rodape_logo">
                Cantinho do Voluntario@2015
                </h10>
            </div>  
        </div>
    </div>
	<!-- [FIM]Rodapé[/FIM] -->
</div>
</body>
</html>
