<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cantinho do Voluntário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column nosso_logo">
            <a href="index.html">
                <img alt="" src="img/cantinho.png" class="logo_cantinho">
            </a>
        </div>
		<div class="col-md-6 column">
			<h3 id="logo">
				Cantinho do Voluntário
			</h3>
		</div>
		<div class="col-md-4 column">
			<div class="login">
				<a href="" >
					Faça Login ou
				</a> 
				<button type="button" class="btn btn-primary btn-sm">Cadastre-se</button>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<!-- [INI]Menu[/INI] -->
		<div class="col-md-12 column">
			<div id="mapa">
			   <a href="cadastro_entidade.html">Instituições</a>
			   <a href="ver_vagas.html">Vagas</a>    
			   <a href="testemunhos.html">Testemunhos</a>
			   <a href="instituicoes.html">Instituições Registradas</a>
			   <a href="sobre.html">Sobre</a>			   
			   <a href="termos.html">Termos e Condições</a>
			</div>	
		</div>
		<!-- [FIM]Menu[/FIM] -->
	</div>
    
        <!-- [INI]Imagem instituição[/INI] -->
    <div class="row clearfix">
            
        <div class="col-md-12 column">
            <img src="img/PERSONAGENS.jpg" class="imagem_cursos" alt="" />
        </div>
   
	</div>
        <!-- [FIM]Imagem instituição[/FIM] -->
    <div class="row clearfix">
        <!-- [INI]BreadCrump[/INI] -->
        <div class="col-md-12 column">
            <div id="breadcrump">
               <a href="index.html">Home ></a>
               <a href="campanhas_noticias.html">Cursos></a>
                           <a href="#">Saiba Mais</a>
            </div>  
        </div>
        <!-- [FIM]BreadCrump[/FIM] -->
    </div>
	<!-- [INI]Vaga[/INI] -->
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="descricao_vaga">                   
                <div style="width: 100%; margin-bottom: 20px;">
                    <div style="float: left; font-weight: bold; font-size: 24px;">Formação de Voluntários Contadores de Histórias
                    </div>                    
                </div>
            </div>
        </div>
    </div>
	<!-- [FIM]noticia[/FIM] -->
    
    <div class="row">
            <div class="col-md-12">
                <div class="descricao_vaga">
                    <div class="col-md-9">
                        <div style="width: 100%; margin-bottom: 20px;">
                            <div style="float: left; font-weight: bold; font-size: 24px;">Descrição do Curso</div>
                            <div style="float: left; margin-left: 20px; margin-right: 20px;"><button type="button" class="btn btn-primary btn-sm">Inscrever-se</button></div>
                            <div style="float: left; margin-right: 20px;"><button type="button" class="btn btn-primary btn-sm">Imprimir</button></div>
                            <strong>Divulgue </strong>
                            <div style="float: left;"><img src="img/facebook.png" alt="Facebook" style="width: 32px" /></div>
                        </div> 
                        <br /><br />
                        <div>
                            <div class="box">
                                Data Inicio
                                <br />
                                <input type="text" disabled="disabled" value="23/05/2015" />  
                            </div>
                            <div class="box">
                                Data Fim
                                <br />
                                <input type="text" disabled="disabled" value="29/08/2015" />  
                            </div>
                            <div class="box">
                                Inscrições até ..
                                <br />
                                <input type="text" disabled="disabled" value="20/05/2015" />  
                            </div>
                            <div class="box">
                                Número de horas do curso
                                <br />
                                <input type="text" disabled="disabled" value="30" />
                            </div>
                            <div class="box">
                                Horário das
                                <br />
                                <input type="text" disabled="disabled" value="9" />
                            </div>
                            <div class="box">
                                até
                                <br />
                                <input type="text" disabled="disabled" value="12" />
                            </div>
                            <div class="box">
                                Taxa de Inscrição
                                <br />
                                <input type="text" disabled="disabled" value="150,00" />
                            </div>
                            
                        </div>
                        <div>
                            <table>
                                <tr style="background-color: #CAD5E2;">
                                    <td>
                                        
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Segunda
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Terça
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Quarta
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Quinta
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Sexta
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Sábado
                                    </td>
                                    <td style="width: 100px; text-align: center;">
                                        Domingo
                                    </td>
                                </tr>
                                <tr style="background-color: #F4F4F4;">
                                    <td style="width: 100px;">Manhã</td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name=""  value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" checked="checked" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                </tr>
                                <tr style="background-color: #F4F4F4;">
                                    <td style="width: 100px;">Tarde</td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox"  name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name=""  value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                </tr>
                                <tr style="background-color: #F4F4F4;">
                                    <td style="width: 100px;">Noite</td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" name="" value="" disabled="disabled">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div><h3>Sobre o Curso</h3></div>
                        <div>
                            No Curso de Formação de Voluntários são realizadas palestras, vivências, dinâmicas e treinamento nos hospitais, que visam avaliar alguns requisitos essenciais para atuar no ambiente hospitalar e a disposição do candidato em realizar trabalho voluntário com compromisso e responsabilidade.
                            A participação em todas as fases do treinamento é OBRIGATÓRIA. O não comparecimento, em qualquer fase, impossibilita o candidato de dar continuidade ao processo seletivo.
                        </div>
                        <div><h3>Sobre a Instituição</h3></div>
                        <div>
                            A Associação Viva e Deixe Viver é uma entidade que tem como missão fomentar a Educação e Cultura na Saúde através da leitura e do brincar, transformando o atendimento clínico e a internação hospitalar de crianças e adolescentes em um momento mais alegre, agradável e terapêutico, contribuindo para o bem estar de seus familiares e equipe multidisciplinar.</br>
                            Para tornar-se voluntário da Associação Viva e Deixe Viver, é necessário preencher os seguintes requisitos:</br>    

                           - Conhecer e concordar com a missão, causa, princípios e visão da Associação Viva e Deixe Viver.</br>
                           - Ter idade superior a 18 anos.</br>
                            - Ter disponibilidade para atuar uma vez por semana durante 2 horas no hospital e participar de oficinas de capacitação, que ocorrem uma vez por mês, para aperfeiçoamento da atividade de contar histórias.</br>
                            - Pesquisar e manter-se atualizado sobre literatura infantil.</br>
                            - Gostar de ler, ter disponibilidade para estudar livros infantis e interesse em ser Contador de Histórias, pois as atividades desenvolvidas no hospital são baseadas exclusivamente da apresentação de histórias e utilização do livro.</br>
                            - Saber que o trabalho voluntário não será considerado como um estágio.</br>
                            - Não buscar colocação profissional nos hospitais parceiros da Associação Viva e Deixe Viver.
                        </div>
                        <div><h3>Considerações Finais</h3></div>
                        <div style="margin-bottom: 30px;">
                            Treinamentos</br>
                            Dias: 23 de maio - Abertura e Reciclagem</br>
                            - 13 de junho</br>
                            - 27 de junho</br>
                            - 18 de julho</br>
                            - 28 de agosto – Fórum de Humanização da Saúde – a confirmar</br>
                            - 29 de agosto - Formatura</br>
                            - De 20 de julho a 20 de agosto teremos as vivências nos hospitais – Hospital da Criança Santo Antônio, Hospital da Criança Conceição e AACD.</br>
                            No valor do curso está incluso os seguintes custos: Manual do Voluntário, custos administrativos, lanche, crachá personalizado, Jaleco (direito de uso do jaleco pelo período em que exercer a função de contador de histórias, pois este jaleco pertence à organização)
                        </div>
                        <div><h3>Local do Curso</h3></div>
                        <div>
                            Colégio Metodista Americano – Rua: Lauro de Oliveira, 71 – Bairro Rio Branco
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="col_info_instituicao">
                            <a href="http://www.vivaedeixeviver.org.br/" ><img src="img/imagem-Viva-e-Deixe-Viver.jpg" 
                                class="logo_instituicao" alt="viva e deixe viver" />
                            </a>
                             <!-- exemplo para o logo
                            <a href="http://www.doutoresdaalegria.org.br/" ><img src="img/doutores-da-alegria-logo-novo.jpg" style="width: 70%;" alt="Logo Instituição" /></a> -->
                            <div class="stars">
                                <img src="img/star_yellow.png" class="clas_star" alt="">
                                <img src="img/star_yellow.png" class="clas_star" alt=""> 
                                <img src="img/star_yellow.png" class="clas_star" alt=""> 
                                <img src="img/star_yellow.png" class="clas_star" alt=""> 
                                <img src="img/star_yellow.png" class="clas_star" alt=""> 
                            </div>
                            <a href="http://www.doutoresdaalegria.org.br/" >O que a gente faz a gente conta</a>
                            <br /><br />
                            <input type="text" disabled="disabled" style="width: 40px" value="10" />
                            Novas Oportunidades
                            <br /><br />
                            Endereço:
                            <br /><br />
                            Cidade:
                            <br /><br />
                            Telefone:
                            <br /><br />
                            Responsável:
                            <br /><br />
                            E-mail:
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [FIM]Vaga[/FIM] -->
    <!-- [INI]Paginação[/INI] -->
        <div class="row clearfix">
            <div class="col-md-12 column">                
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.9380271970354!2d-51.20673065!3d-30.03863575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951978495072ab99%3A0x1cbc0b6d6799fecd!2sHospital+de+Cl%C3%ADnicas+de+Porto+Alegre!5e0!3m2!1spt-BR!2sbr!4v1433427648969" width="700" height="400" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    
	<!-- [INI]Rodapé[/INI] -->
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div id="rodape">
                <div class="rodape_links">
                    <a href="cadastro_entidade.html">Instituições</a>
                    <a href="ver_vagas.html">Vagas</a>
                    <a href="testemunhos.html">Testemunhos</a>
                    <a href="instituicoes.html">Instituições Registradas</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="contatos.html">Contatos</a>               
                    <a href="campanhas_noticias.html">Cursos/Noticias/Campanhas</a>
                </div>
                <div>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                         <strong>Nossa Página no Face </strong>
                    </a>
                    <a href="https://www.facebook.com/pages/Cantinho-do-Volunt%C3%A1rio/793095697472047" >
                          <img src="img/Facebook_creatures.png" alt="Facebook" 
                                  style="width: 80px"/>
                    </a>           
                </div>
                <h10 id="rodape_logo">
                Cantinho do Voluntario@2015
                </h10>
            </div>  
        </div>
    </div>
	<!-- [FIM]Rodapé[/FIM] -->
</div>
</body>
</html>
